## Installing required packages

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('used_cars').getOrCreate()
print(spark.version)

3.5.0

In [3]:
spark

### Reading csv file in spark

In [5]:
df = spark.read.format('csv').\
option('inferSchema', 'true').\
option('header', 'true').\
option('path', "D:\Dataset\cars dataset.csv").\
load()

In [6]:
df.show()

+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|_c0|     brand|            model| color|registration_date|year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|  0|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|  1|alfa-romeo|   Alfa Romeo 164| black|          02/1995|1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|  2|alfa-romeo|Alfa Romeo Spider| black|          02/1995|1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|
|  3|alfa-romeo|Alfa Romeo Spider| black|          07/1995|1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|  4|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|  5|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|  6|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|  7|alfa-romeo|   Alfa Romeo 164| black|          07/1996|1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|  8|alfa-romeo|Alfa Romeo Spider| black|          07/1996|1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|  9|alfa-romeo|Alfa Romeo Spider| black|          01/1996|1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
| 10|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
| 11|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
| 12|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
| 13|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
| 14|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
| 15|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
| 16|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
| 17|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
| 18|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
| 19|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- color: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- price_in_euro: string (nullable = true)
 |-- power_kw: string (nullable = true)
 |-- power_ps: string (nullable = true)
 |-- transmission_type: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- fuel_consumption_l_100km: string (nullable = true)
 |-- fuel_consumption_g_km: string (nullable = true)
 |-- mileage_in_km: double (nullable = true)
 |-- offer_description: string (nullable = true)

In [8]:
# Give information of first 5 row form our data
df.head()

Row(_c0=0, brand='alfa-romeo', model='Alfa Romeo GTV', color='red', registration_date='10/1995', year='1995', price_in_euro='1300', power_kw='148', power_ps='201', transmission_type='Manual', fuel_type='Petrol', fuel_consumption_l_100km='10,9 l/100 km', fuel_consumption_g_km='260 g/km', mileage_in_km=160500.0, offer_description='2.0 V6 TB')

### Getting name of columns in our data

In [9]:
df.columns

['_c0',
 'brand',
 'model',
 'color',
 'registration_date',
 'year',
 'price_in_euro',
 'power_kw',
 'power_ps',
 'transmission_type',
 'fuel_type',
 'fuel_consumption_l_100km',
 'fuel_consumption_g_km',
 'mileage_in_km',
 'offer_description']

### Selecting a particular column from dataframe

In [10]:
type(df.select('price_in_euro'))  # here extracted column is DataFrame

pyspark.sql.dataframe.DataFrame

In [11]:
df.select('price_in_euro').show()

+-------------+
|price_in_euro|
+-------------+
|         1300|
|        24900|
|         5900|
|         4900|
|        17950|
|         7900|
|         3500|
|         5500|
|         8990|
|         6976|
|         5499|
|         8499|
|         2290|
|        15800|
|         7950|
|         1300|
|         6900|
|        16900|
|         9980|
|        11990|
+-------------+
only showing top 20 rows

### Selecting Multiple Columns

In [12]:
df.select(['color','price_in_euro'])

DataFrame[color: string, price_in_euro: string]

In [13]:
df.select(['color','price_in_euro']).show()

+------+-------------+
| color|price_in_euro|
+------+-------------+
|   red|         1300|
| black|        24900|
| black|         5900|
| black|         4900|
|   red|        17950|
|   red|         7900|
|   red|         3500|
| black|         5500|
| black|         8990|
| black|         6976|
|silver|         5499|
|silver|         8499|
|silver|         2290|
|  grey|        15800|
|  grey|         7950|
|   red|         1300|
|   red|         6900|
|   red|        16900|
|   red|         9980|
|   red|        11990|
+------+-------------+
only showing top 20 rows

### Checking Data Types Of Our Data

In [14]:
df.dtypes

[('_c0', 'int'),
 ('brand', 'string'),
 ('model', 'string'),
 ('color', 'string'),
 ('registration_date', 'string'),
 ('year', 'string'),
 ('price_in_euro', 'string'),
 ('power_kw', 'string'),
 ('power_ps', 'string'),
 ('transmission_type', 'string'),
 ('fuel_type', 'string'),
 ('fuel_consumption_l_100km', 'string'),
 ('fuel_consumption_g_km', 'string'),
 ('mileage_in_km', 'double'),
 ('offer_description', 'string')]

### Statistical Description Of Data

In [16]:
df.describe().show()

+-------+----------------+----------+--------------+------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------------+---------------------+-----------------+--------------------+
|summary|             _c0|     brand|         model| color| registration_date|              year|    price_in_euro|          power_kw|          power_ps|transmission_type|        fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|    mileage_in_km|   offer_description|
+-------+----------------+----------+--------------+------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------------+---------------------+-----------------+--------------------+
|  count|          251079|    251079|        251079|250913|            251075|            251079|           251079|            250945|            250950|           251079|           251079|                  224206|               251079|           250927|              251078|
|   mean|        125539.0|      null|          null|  null|40442.470588235294|2016.4583711994387|26137.53000239158|126.47737912004658|171.80952608732048|             null|48939.94736842105|      2018.3636363636363|    2016.408163265306|85340.01598472863|   97.14944779116463|
| stddev|72480.4084563546|      null|          null|  null|47211.202900875054|  60.0397392420811|36987.95387381505| 75.30176330100367| 99.19220070042799|             null|51287.88293162614|        4.87561998009227|    6.535922520162259|78717.06125940461|  222.65227998181786|
|    min|               0|alfa-romeo|    Alfa Romeo| beige|           CARPLAY|           01/2019|       Navigation|          - (g/km)|          - (g/km)|        Automatic|          01/2016|                - (g/km)|             - (g/km)|              0.0| - fast neuwertig...|
|    max|          251078|     volvo|smart smart #1|yellow|     apple/android|            Petrol| sofort verfÃ¼gbar|            Petrol|            Petrol|          Unknown|          Unknown|                  Petrol|              Unknown|        3800000.0|ðŸ”¥2.0 TDI DSG R-L...|
+-------+----------------+----------+--------------+------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------------+---------------------+-----------------+--------------------+

### Adding Column in Pyspark DataFrame

In [17]:
# Using Split function to split data and make new column
from pyspark.sql.functions import split
df = df.withColumn('registration_year',split(df['registration_date'],'/')[1])

In [18]:
df.show()

+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+-----------------+
|_c0|     brand|            model| color|registration_date|year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|registration_year|
+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+-----------------+
|  0|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|             1995|
|  1|alfa-romeo|   Alfa Romeo 164| black|          02/1995|1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|             1995|
|  2|alfa-romeo|Alfa Romeo Spider| black|          02/1995|1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|             1995|
|  3|alfa-romeo|Alfa Romeo Spider| black|          07/1995|1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|             1995|
|  4|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|             1996|
|  5|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|             1996|
|  6|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|             1996|
|  7|alfa-romeo|   Alfa Romeo 164| black|          07/1996|1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|             1996|
|  8|alfa-romeo|Alfa Romeo Spider| black|          07/1996|1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|             1996|
|  9|alfa-romeo|Alfa Romeo Spider| black|          01/1996|1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|             1996|
| 10|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|             1996|
| 11|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|             1996|
| 12|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|             1996|
| 13|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|             1997|
| 14|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|             1997|
| 15|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|             1997|
| 16|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|             1997|
| 17|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|             1997|
| 18|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|             1997|
| 19|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|             1997|
+---+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+-----------------+
only showing top 20 rows

### Droping columns

In [19]:
df = df.drop('registration_year','_c0') # include all columns which you want to drop in brackets

In [20]:
df.show()

+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|            model| color|registration_date|year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo 164| black|          02/1995|1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|alfa-romeo|Alfa Romeo Spider| black|          02/1995|1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|
|alfa-romeo|Alfa Romeo Spider| black|          07/1995|1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|alfa-romeo|   Alfa Romeo 164| black|          07/1996|1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|alfa-romeo|Alfa Romeo Spider| black|          07/1996|1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|alfa-romeo|Alfa Romeo Spider| black|          01/1996|1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+----------+-----------------+------+-----------------+----+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

### Renaming Columns

In [21]:
df = df.withColumnRenamed('year','registration_year') # Give name of column first and the name you want to rename to

In [22]:
df.show()

+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|            model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|             1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo 164| black|          02/1995|             1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|alfa-romeo|Alfa Romeo Spider| black|          02/1995|             1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|
|alfa-romeo|Alfa Romeo Spider| black|          07/1995|             1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|             1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|             1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|             1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|alfa-romeo|   Alfa Romeo 164| black|          07/1996|             1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|alfa-romeo|Alfa Romeo Spider| black|          07/1996|             1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|alfa-romeo|Alfa Romeo Spider| black|          01/1996|             1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|             1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|             1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|             1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|             1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|             1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|             1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|             1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|             1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

### Changing Data Type of Columns

In [23]:
from pyspark.sql.functions import col
columns = df.columns
val =['brand','model','color','registration_date','transmission_type','fuel_type','offer_description']
columns_to_convert = [i for i in columns if i not in val]
columns_data_type = ['int','int','int','int','int','int','int']
modified_df =df.select([col(column).cast(new_data) for column , new_data in zip(columns_to_convert,columns_data_type)])
modified_df.show()

+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
|registration_year|price_in_euro|power_kw|power_ps|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|
+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
|             1995|         1300|     148|     201|                    null|                 null|       160500|
|             1995|        24900|     191|     260|                    null|                 null|       190000|
|             1995|         5900|     110|     150|                    null|                 null|       129000|
|             1995|         4900|     110|     150|                    null|                 null|       189500|
|             1996|        17950|     132|     179|                    null|                 null|        96127|
|             1996|         7900|     110|     150|                    null|                 null|        47307|
|             1996|         3500|     110|     150|                    null|                 null|       230000|
|             1996|         5500|     132|     179|                    null|                 null|       168000|
|             1996|         8990|     141|     192|                    null|                 null|       168600|
|             1996|         6976|     110|     150|                    null|                 null|        99000|
|             1996|         5499|     141|     192|                    null|                 null|       157000|
|             1996|         8499|     110|     150|                    null|                 null|        15550|
|             1996|         2290|     110|     150|                    null|                 null|       333500|
|             1997|        15800|     162|     220|                    null|                 null|       177000|
|             1997|         7950|      88|     120|                    null|                 null|       101726|
|             1997|         1300|     148|     201|                    null|                 null|       178000|
|             1997|         6900|     110|     150|                    null|                 null|       110313|
|             1997|        16900|     162|     220|                    null|                 null|       174000|
|             1997|         9980|     148|     201|                    null|                 null|       168791|
|             1997|        11990|      88|     120|                    null|                 null|       124963|
+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
only showing top 20 rows

In [24]:
modified_df.printSchema()

root
 |-- registration_year: integer (nullable = true)
 |-- price_in_euro: integer (nullable = true)
 |-- power_kw: integer (nullable = true)
 |-- power_ps: integer (nullable = true)
 |-- fuel_consumption_l_100km: integer (nullable = true)
 |-- fuel_consumption_g_km: integer (nullable = true)
 |-- mileage_in_km: integer (nullable = true)

Droping Columns With NaN Values

In [25]:
df.count() # It gives count of number of records in spark dataframe

251079

In [26]:
df.na.drop(how = 'all').count()  # Its droping rows with all columns as NaN values

251079

In [27]:
df.na.drop(how ='any').count()  # Its droping rows with any columns with NaN value----> By default its any

223836

In [28]:
df.na.drop(how = 'any' , thresh =5).count() # thresh parameter means that atleast there should be 5 not null values if any record is having less than 5 non null value it will get deleted

251079

In [29]:
df.na.drop(how = 'any' , subset = ['offer_description']).count()  # it will delete only that row with nan value in offer_description

251078

### Filling Missing Values

In [30]:
df.na.fill('missing_values').show()  # it will replace all NaN value with 'missing_values'

+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|            model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|             1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo 164| black|          02/1995|             1995|        24900|     191|     260|           Manual|   Petrol|          missing_values|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|alfa-romeo|Alfa Romeo Spider| black|          02/1995|             1995|         5900|     110|     150|          Unknown|   Petrol|          missing_values|             - (g/km)|     129000.0|       ALFA ROME 916|
|alfa-romeo|Alfa Romeo Spider| black|          07/1995|             1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|             1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|             1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|             1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|alfa-romeo|   Alfa Romeo 164| black|          07/1996|             1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|alfa-romeo|Alfa Romeo Spider| black|          07/1996|             1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|alfa-romeo|Alfa Romeo Spider| black|          01/1996|             1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|             1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|             1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|             1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|             1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|             1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|             1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|             1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         9980|     148|     201|           Manual|   Petrol|          missing_values|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|             1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [31]:
df.na.fill('missing_value',['model','color'])  # it will replace all NaN value in model and color column with "missing_values"

DataFrame[brand: string, model: string, color: string, registration_date: string, registration_year: string, price_in_euro: string, power_kw: string, power_ps: string, transmission_type: string, fuel_type: string, fuel_consumption_l_100km: string, fuel_consumption_g_km: string, mileage_in_km: double, offer_description: string]

### Imputing Nan values with Mean/Median/Mode

In [32]:
from pyspark.ml.feature import Imputer
# Make an instance for imputation for required columns
imputer = Imputer(
    inputCols=modified_df.columns ,
    outputCols=[c for c in modified_df.columns]  # replacing columns with columns having mean at place of nan values
).setStrategy('mean')

In [33]:
# Fitting and Transforming data frame
imputer.fit(modified_df).transform(modified_df).show()

+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
|registration_year|price_in_euro|power_kw|power_ps|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|
+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
|             1995|         1300|     148|     201|                    2018|                 2016|       160500|
|             1995|        24900|     191|     260|                    2018|                 2016|       190000|
|             1995|         5900|     110|     150|                    2018|                 2016|       129000|
|             1995|         4900|     110|     150|                    2018|                 2016|       189500|
|             1996|        17950|     132|     179|                    2018|                 2016|        96127|
|             1996|         7900|     110|     150|                    2018|                 2016|        47307|
|             1996|         3500|     110|     150|                    2018|                 2016|       230000|
|             1996|         5500|     132|     179|                    2018|                 2016|       168000|
|             1996|         8990|     141|     192|                    2018|                 2016|       168600|
|             1996|         6976|     110|     150|                    2018|                 2016|        99000|
|             1996|         5499|     141|     192|                    2018|                 2016|       157000|
|             1996|         8499|     110|     150|                    2018|                 2016|        15550|
|             1996|         2290|     110|     150|                    2018|                 2016|       333500|
|             1997|        15800|     162|     220|                    2018|                 2016|       177000|
|             1997|         7950|      88|     120|                    2018|                 2016|       101726|
|             1997|         1300|     148|     201|                    2018|                 2016|       178000|
|             1997|         6900|     110|     150|                    2018|                 2016|       110313|
|             1997|        16900|     162|     220|                    2018|                 2016|       174000|
|             1997|         9980|     148|     201|                    2018|                 2016|       168791|
|             1997|        11990|      88|     120|                    2018|                 2016|       124963|
+-----------------+-------------+--------+--------+------------------------+---------------------+-------------+
only showing top 20 rows

**Using Filters**

Using Single Filter Condition

In [34]:
df.count()

251079

In [35]:
# finding records with const more than 1000000 euros
# Method - 1
df.filter('price_in_euro>=1000000').count()

17

In [36]:
df.filter('price_in_euro>=1000000').show()

+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|        brand|               model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
| aston-martin|        Aston Martin| brown|          08/2011|             2011|      2289000|     559|     760|        Automatic|   Petrol|                    null|             - (g/km)|       8900.0|One-77 I Bang Olu...|
| aston-martin|Aston Martin Vantage|  blue|          06/2022|             2022|      1170000|     515|     700|        Automatic|   Petrol|           11,4 l/100 km|             298 g/km|         80.0|V12 Speedster 1 o...|
| aston-martin|Aston Martin Vantage| green|          04/2022|             2022|      1288000|     515|     700|        Automatic|   Petrol|                    null|             - (g/km)|       1600.0|       V12 Speedster|
|         audi|             Audi Q7| black|          11/2011|             2011|      1000000|     180|     245|        Automatic|   Diesel|            7,4 l/100 km|             195 g/km|     143700.0|Q7 3.0 TDI SLine ...|
|          bmw|             BMW 550| brown|          07/2018|             2018|      1010101|     294|     400|        Automatic|   Diesel|            6,3 l/100 km|             165 g/km|      87000.0|M550d xDrive Tour...|
|      ferrari|         Ferrari 599|   red|          04/2011|             2011|      1150000|     493|     670|        Automatic|   Petrol|           17,5 l/100 km|             411 g/km|       3800.0|GTO * German deli...|
|      ferrari|         Ferrari 458|  blue|          07/2015|             2015|      1045800|     445|     605|        Automatic|   Petrol|           13,3 l/100 km|             307 g/km|       2824.0|Speciale Aperta |...|
|      ferrari|         Ferrari F12|yellow|          04/2017|             2017|      1290000|     570|     775|        Automatic|   Petrol|                    null|             - (g/km)|      10800.0|*TDF 1of799*Ferra...|
|  lamborghini|         Lamborghini|  grey|          08/2018|             2018|      5890500|     566|     770|        Automatic|   Petrol|             16 l/100 km|             370 g/km|         65.0|CENTENARIO ROADST...|
|  lamborghini|Lamborghini Avent...| black|          05/2021|             2021|      1000000|     566|     770|        Automatic|   Petrol|                    null|             - (g/km)|       4053.0|SVJ NOVITEC Editi...|
|  lamborghini|         Lamborghini| black|          11/2021|             2021|      3250000|     602|     818|        Automatic|   Hybrid|           14,8 l/100 km|             373 g/km|        177.0|                Sian|
|mercedes-benz|   Mercedes-Benz SLR|  grey|          01/2007|             2007|      2490000|     478|     650|        Automatic|   Petrol|           14,5 l/100 km|             348 g/km|      15793.0|722 MSO McLaren E...|
|      porsche|  Porsche Carrera GT| black|          04/2005|             2005|      1549000|     450|     612|           Manual|   Petrol|                    null|             - (g/km)|      26800.0|1.Hd Deutsches Fa...|
|      porsche|  Porsche Carrera GT| black|          04/2006|             2006|      1580000|     450|     612|           Manual|   Petrol|                    null|             - (g/km)|      13460.0|CARRERA GT | NR. ...|
|      porsche|         Porsche 918|  grey|          07/2014|             2014|      1290000|     652|     886|        Automatic|   Hybrid|            - (l/100 km)|               0 g/km|      31490.0|Spyder | Weissach...|
|      porsche|         Porsche 918| white|          06/2014|             2014|      1990000|     652|     886|        Automatic|   Hybrid|            3,1 l/100 km|              72 g/km|       5125.0|Spyder WEISSACH P...|
|      porsche|         Porsche 991| white|          01/2015|             2015|      1350000|     316|     430|        Automatic|   Petrol|            8,9 l/100 km|             207 g/km|      27000.0|Carrera GTS Cabri...|
+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+

In [37]:
modified_df.filter('price_in_euro>=1000000').select(['price_in_euro','power_ps']).show()

+-------------+--------+
|price_in_euro|power_ps|
+-------------+--------+
|      2289000|     760|
|      1170000|     700|
|      1288000|     700|
|      1000000|     245|
|      1010101|     400|
|      1150000|     670|
|      1045800|     605|
|      1290000|     775|
|      5890500|     770|
|      1000000|     770|
|      3250000|     818|
|      2490000|     650|
|      1549000|     612|
|      1580000|     612|
|      1290000|     886|
|      1990000|     886|
|      1350000|     430|
+-------------+--------+

In [38]:
# Method -2
df.filter(df['price_in_euro']>=1000000).show() # you can apply filter condition on string without explictly conveting them to integers

+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|        brand|               model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
| aston-martin|        Aston Martin| brown|          08/2011|             2011|      2289000|     559|     760|        Automatic|   Petrol|                    null|             - (g/km)|       8900.0|One-77 I Bang Olu...|
| aston-martin|Aston Martin Vantage|  blue|          06/2022|             2022|      1170000|     515|     700|        Automatic|   Petrol|           11,4 l/100 km|             298 g/km|         80.0|V12 Speedster 1 o...|
| aston-martin|Aston Martin Vantage| green|          04/2022|             2022|      1288000|     515|     700|        Automatic|   Petrol|                    null|             - (g/km)|       1600.0|       V12 Speedster|
|         audi|             Audi Q7| black|          11/2011|             2011|      1000000|     180|     245|        Automatic|   Diesel|            7,4 l/100 km|             195 g/km|     143700.0|Q7 3.0 TDI SLine ...|
|          bmw|             BMW 550| brown|          07/2018|             2018|      1010101|     294|     400|        Automatic|   Diesel|            6,3 l/100 km|             165 g/km|      87000.0|M550d xDrive Tour...|
|      ferrari|         Ferrari 599|   red|          04/2011|             2011|      1150000|     493|     670|        Automatic|   Petrol|           17,5 l/100 km|             411 g/km|       3800.0|GTO * German deli...|
|      ferrari|         Ferrari 458|  blue|          07/2015|             2015|      1045800|     445|     605|        Automatic|   Petrol|           13,3 l/100 km|             307 g/km|       2824.0|Speciale Aperta |...|
|      ferrari|         Ferrari F12|yellow|          04/2017|             2017|      1290000|     570|     775|        Automatic|   Petrol|                    null|             - (g/km)|      10800.0|*TDF 1of799*Ferra...|
|  lamborghini|         Lamborghini|  grey|          08/2018|             2018|      5890500|     566|     770|        Automatic|   Petrol|             16 l/100 km|             370 g/km|         65.0|CENTENARIO ROADST...|
|  lamborghini|Lamborghini Avent...| black|          05/2021|             2021|      1000000|     566|     770|        Automatic|   Petrol|                    null|             - (g/km)|       4053.0|SVJ NOVITEC Editi...|
|  lamborghini|         Lamborghini| black|          11/2021|             2021|      3250000|     602|     818|        Automatic|   Hybrid|           14,8 l/100 km|             373 g/km|        177.0|                Sian|
|mercedes-benz|   Mercedes-Benz SLR|  grey|          01/2007|             2007|      2490000|     478|     650|        Automatic|   Petrol|           14,5 l/100 km|             348 g/km|      15793.0|722 MSO McLaren E...|
|      porsche|  Porsche Carrera GT| black|          04/2005|             2005|      1549000|     450|     612|           Manual|   Petrol|                    null|             - (g/km)|      26800.0|1.Hd Deutsches Fa...|
|      porsche|  Porsche Carrera GT| black|          04/2006|             2006|      1580000|     450|     612|           Manual|   Petrol|                    null|             - (g/km)|      13460.0|CARRERA GT | NR. ...|
|      porsche|         Porsche 918|  grey|          07/2014|             2014|      1290000|     652|     886|        Automatic|   Hybrid|            - (l/100 km)|               0 g/km|      31490.0|Spyder | Weissach...|
|      porsche|         Porsche 918| white|          06/2014|             2014|      1990000|     652|     886|        Automatic|   Hybrid|            3,1 l/100 km|              72 g/km|       5125.0|Spyder WEISSACH P...|
|      porsche|         Porsche 991| white|          01/2015|             2015|      1350000|     316|     430|        Automatic|   Petrol|            8,9 l/100 km|             207 g/km|      27000.0|Carrera GTS Cabri...|
+-------------+--------------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+

In [39]:
# Using Not condition
df.filter(df['fuel_type']!='Petrol').show()

+----------+--------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|         model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+--------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|Alfa Romeo 147| black|          12/2001|             2001|          450|      85|     116|           Manual|   Diesel|            5,8 l/100 km|             - (g/km)|     262176.0|Alfa Romeo 147 1....|
|alfa-romeo|Alfa Romeo 156|  blue|          12/2002|             2002|         2998|     110|     150|           Manual|   Diesel|            6,7 l/100 km|             175 g/km|     259000.0|2.4 JTD Berlina J...|
|alfa-romeo|Alfa Romeo 156| black|          03/2002|             2002|         1490|     123|     167|           Manual|   Diesel|                    null|             - (g/km)|     148648.0|             2.4 JTD|
|alfa-romeo|Alfa Romeo 156|  grey|          02/2003|             2003|         1250|     110|     150|           Manual|   Diesel|            6,7 l/100 km|             - (g/km)|     232800.0|156 Sportwagon 2....|
|alfa-romeo|Alfa Romeo 166| black|          03/2004|             2004|         1499|     110|     150|           Manual|   Diesel|            7,5 l/100 km|             199 g/km|     205000.0|2.4 Leder, Klima,...|
|alfa-romeo| Alfa Romeo GT| black|          07/2004|             2004|         1700|     110|     150|           Manual|   Diesel|            6,2 l/100 km|             - (g/km)|     418000.0|1.9 JTD M-Jet Pro...|
|alfa-romeo|Alfa Romeo 156| black|          11/2004|             2004|         1950|      85|     116|           Manual|   Diesel|              6 l/100 km|             160 g/km|     196000.0|Sportwagon 1.9 JT...|
|alfa-romeo|Alfa Romeo 159|   red|          07/2005|             2005|         6200|     147|     200|          Unknown|   Diesel|            6,8 l/100 km|             - (g/km)|     191027.0|*Leder*DESIGN GIU...|
|alfa-romeo| Alfa Romeo GT| black|          09/2005|             2005|         1500|     110|     150|           Manual|   Diesel|            6,2 l/100 km|             165 g/km|     280000.0|1.9 JTD M-Jet Dis...|
|alfa-romeo|Alfa Romeo 166| black|          01/2005|             2005|         5990|     129|     175|           Manual|   Diesel|            7,5 l/100 km|             199 g/km|     223000.0|2.4 JTD 20V Disti...|
|alfa-romeo| Alfa Romeo GT| black|          09/2005|             2005|         1200|     110|     150|           Manual|   Diesel|            6,2 l/100 km|             165 g/km|     335000.0|1.9 JTD M-Jet Dis...|
|alfa-romeo| Alfa Romeo GT| black|          01/2005|             2005|         5990|     110|     150|           Manual|   Diesel|                    null|             - (g/km)|     198273.0|1.9 JTD 16V M-Jet...|
|alfa-romeo|Alfa Romeo 159|silver|          09/2005|             2005|         1500|     110|     150|           Manual|   Diesel|              6 l/100 km|             159 g/km|     163843.0|1.9 JTDM 16V Prog...|
|alfa-romeo|    Alfa Romeo|  blue|          08/2006|             2006|         2980|     110|     150|           Manual|   Diesel|            6,1 l/100 km|             162 g/km|     284048.0|Distinctive+NAVI+...|
|alfa-romeo|Alfa Romeo 159|  blue|          04/2006|             2006|         1950|      88|     120|           Manual|   Diesel|            5,9 l/100 km|             157 g/km|     277548.0|1.9 JTDM 8V DPF D...|
|alfa-romeo|Alfa Romeo 159|  grey|          09/2006|             2006|         3800|     147|     200|        Automatic|   Diesel|            8,1 l/100 km|             215 g/km|     210000.0|Sportwagon 2.4 JT...|
|alfa-romeo|Alfa Romeo 159|  grey|          09/2006|             2006|         3800|     147|     200|        Automatic|   Diesel|            8,1 l/100 km|             215 g/km|     210000.0|Sportwagon 2.4 JT...|
|alfa-romeo| Alfa Romeo GT|  grey|          05/2006|             2006|         1250|     110|     150|           Manual|   Diesel|            6,2 l/100 km|             165 g/km|     278200.0|1.9 JTD M-Jet Dis...|
|alfa-romeo|Alfa Romeo 159|  grey|          05/2006|             2006|         1950|     110|     150|           Manual|   Diesel|              6 l/100 km|             159 g/km|     400000.0|1.9 JTDM 16V Dist...|
|alfa-romeo|    Alfa Romeo|  grey|          01/2006|             2006|         2999|     147|     200|           Manual|   Diesel|            6,8 l/100 km|             179 g/km|     238861.0|159 2.4 JTDM 20V ...|
+----------+--------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [40]:
df.printSchema()

root
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- color: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- registration_year: string (nullable = true)
 |-- price_in_euro: string (nullable = true)
 |-- power_kw: string (nullable = true)
 |-- power_ps: string (nullable = true)
 |-- transmission_type: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- fuel_consumption_l_100km: string (nullable = true)
 |-- fuel_consumption_g_km: string (nullable = true)
 |-- mileage_in_km: double (nullable = true)
 |-- offer_description: string (nullable = true)

### Using Multiple condition to do filter

In [41]:
# Using AND condition
df.filter((df['price_in_euro']>=1000000) & (df['brand']=='ferrari')).show()

+-------+-----------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|  brand|      model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+-------+-----------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|ferrari|Ferrari 599|   red|          04/2011|             2011|      1150000|     493|     670|        Automatic|   Petrol|           17,5 l/100 km|             411 g/km|       3800.0|GTO * German deli...|
|ferrari|Ferrari 458|  blue|          07/2015|             2015|      1045800|     445|     605|        Automatic|   Petrol|           13,3 l/100 km|             307 g/km|       2824.0|Speciale Aperta |...|
|ferrari|Ferrari F12|yellow|          04/2017|             2017|      1290000|     570|     775|        Automatic|   Petrol|                    null|             - (g/km)|      10800.0|*TDF 1of799*Ferra...|
+-------+-----------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+

In [42]:
# Using OR condition
df.filter((df['brand']=='ferrari') | (df['brand']=='lamborghini')).show()

+-------+---------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|  brand|          model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+-------+---------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|ferrari|Ferrari Mondial|   red|          01/1995|             1995|        59890|     221|     300|   Semi-automatic|   Petrol|                    null|             - (g/km)|      29800.0|3,4T  Coupe Valeo...|
|ferrari|   Ferrari F355|   red|          01/1995|             1995|       109900|     280|     381|           Manual|   Petrol|           15,3 l/100 km|             - (g/km)|      32500.0|Spider, Schalter ...|
|ferrari|    Ferrari 348|   red|          07/1995|             1995|        89900|     235|     320|           Manual|   Petrol|                    null|             - (g/km)|      54000.0|Spider - Scheckhe...|
|ferrari|    Ferrari 456| black|          07/1995|             1995|        72900|     325|     442|           Manual|   Petrol|                    null|             - (g/km)|      88000.0|GT LÃ¼ckenloses Fe...|
|ferrari|    Ferrari 456|  blue|          02/1996|             1996|        69900|     325|     442|           Manual|   Petrol|                    null|             - (g/km)|      57233.0|      GT Pininfarina|
|ferrari|   Ferrari F355|yellow|          01/1996|             1996|       149900|     280|     381|           Manual|   Petrol|           10,8 l/100 km|             - (g/km)|      22800.0|              Spider|
|ferrari|   Ferrari F355|   red|          09/1996|             1996|       172500|     280|     381|           Manual|   Petrol|                    null|             - (g/km)|      18500.0|Berlinetta /2.7 M...|
|ferrari|   Ferrari F355|   red|          05/1996|             1996|       179355|     280|     381|           Manual|   Petrol|            - (l/100 km)|             - (g/km)|      17740.0|                 GTS|
|ferrari|    Ferrari 512|   red|          05/1996|             1996|       499000|     324|     441|           Manual|   Petrol|            9,9 l/100 km|             - (g/km)|      30085.0|                   M|
|ferrari|   Ferrari F355|   red|          06/1996|             1996|       108500|     280|     381|           Manual|   Petrol|                    null|             - (g/km)|      83000.0|Spider Wertgutach...|
|ferrari|   Ferrari F355|   red|          03/1996|             1996|       154900|     280|     381|           Manual|   Petrol|           15,7 l/100 km|             372 g/km|      43600.0|              Spider|
|ferrari|    Ferrari 456|  blue|          05/1997|             1997|       125000|     325|     442|           Manual|   Petrol|                    null|             - (g/km)|      21000.0|GT, 1. Hand, Hand...|
|ferrari|    Ferrari 550|  grey|          09/1997|             1997|       129500|     357|     485|           Manual|   Petrol|                    null|             - (g/km)|      63417.0|Maranello  Top Or...|
|ferrari|    Ferrari 456|  grey|          09/1997|             1997|        89900|     325|     442|        Automatic|   Petrol|                    null|             - (g/km)|      13150.0|GTA | KLIMA | ELE...|
|ferrari|   Ferrari F355|   red|          08/1997|             1997|       105000|     280|     381|           Manual|   Petrol|           10,8 l/100 km|             - (g/km)|      87200.0|Berlinetta 6-Gang...|
|ferrari|    Ferrari 456|silver|          03/1997|             1997|        69900|     325|     442|        Automatic|   Petrol|                    null|             - (g/km)|      56000.0|                 GTA|
|ferrari|    Ferrari 456|  blue|          05/1998|             1998|        90000|     325|     442|        Automatic|   Petrol|           22,2 l/100 km|             520 g/km|       7500.0|                 GTA|
|ferrari|    Ferrari 550|  grey|          04/1998|             1998|       139550|     357|     485|           Manual|   Petrol|           22,9 l/100 km|             - (g/km)|      41500.0|Maranello Koffers...|
|ferrari|   Ferrari F355|   red|          01/1998|             1998|       168900|     280|     381|           Manual|   Petrol|                    null|             - (g/km)|      38761.0|GTS, nur 38.761 k...|
|ferrari|   Ferrari F355|silver|          07/1998|             1998|       169990|     280|     381|           Manual|   Petrol|           10,8 l/100 km|             - (g/km)|      65975.0|   F1 GTS *1 of 529*|
+-------+---------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [43]:
df.filter((df['brand']=='ferrari') | (df['brand']=='lamborghini')).count()

951

### Groupby and Aggregate functions

In [44]:
# Changing data type of price_in_euro to int for aggrigation action
df = df.withColumn('price_in_euro',df['price_in_euro'].cast('int'))

In [45]:
df.show()

+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|            model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|             1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo 164| black|          02/1995|             1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|alfa-romeo|Alfa Romeo Spider| black|          02/1995|             1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|
|alfa-romeo|Alfa Romeo Spider| black|          07/1995|             1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|             1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|             1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|             1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|alfa-romeo|   Alfa Romeo 164| black|          07/1996|             1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|alfa-romeo|Alfa Romeo Spider| black|          07/1996|             1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|alfa-romeo|Alfa Romeo Spider| black|          01/1996|             1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|             1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|             1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|             1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|             1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|             1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|             1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|             1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|             1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [46]:
df.printSchema()

root
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- color: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- registration_year: string (nullable = true)
 |-- price_in_euro: integer (nullable = true)
 |-- power_kw: string (nullable = true)
 |-- power_ps: string (nullable = true)
 |-- transmission_type: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- fuel_consumption_l_100km: string (nullable = true)
 |-- fuel_consumption_g_km: string (nullable = true)
 |-- mileage_in_km: double (nullable = true)
 |-- offer_description: string (nullable = true)

In [47]:
# Groupby ----> with name and find one with highest price in euros
df.groupby('brand').max().show() # Here we get list of all brands with maximum price in euros

+------------+------------------+------------------+
|       brand|max(price_in_euro)|max(mileage_in_km)|
+------------+------------------+------------------+
|        audi|           1000000|         2230456.0|
|         bmw|           1010101|         2223400.0|
|     bentley|            761600|          243363.0|
|  alfa-romeo|            289890|          418000.0|
|aston-martin|           2289000|          226900.0|
|    daihatsu|             15900|          241791.0|
|    chrysler|             86990|          135000.0|
|     citroen|             93990|          735201.0|
|       dodge|            159800|          314500.0|
|        ford|            849900|         3800000.0|
|    cadillac|            179980|          288779.0|
|     ferrari|           1290000|          154000.0|
|   chevrolet|            132900|          276500.0|
|        fiat|             97500|         2300000.0|
|      daewoo|              6600|          318900.0|
|       dacia|             34500|          411630.0|
|      jaguar|            177900|          390000.0|
|        jeep|            214990|          303700.0|
|     hyundai|             68840|          730500.0|
|         kia|             69950|          500000.0|
+------------+------------------+------------------+
only showing top 20 rows

In [48]:
df.groupby('brand').max().count()

47

In [49]:
# finding mean price of every brand
df.groupby('brand').mean().show() # It will do aggrigation only for integer or float or double data type

+------------+------------------+------------------+
|       brand|avg(price_in_euro)|avg(mileage_in_km)|
+------------+------------------+------------------+
|        audi|28469.840629727685|108488.72845866616|
|         bmw|24960.235439713088| 126239.0661954052|
|     bentley|188907.56561922366| 41606.40850277264|
|  alfa-romeo| 31265.13082811413| 71651.17896935933|
|aston-martin|172583.14440433212| 30901.28880866426|
|    daihatsu|4034.7487684729062| 122485.3431372549|
|    chrysler|           59935.5|        26503.8125|
|     citroen|19047.196030384708| 64386.08290409615|
|       dodge| 55004.74289985052|50290.979073243645|
|        ford|20409.834780292942| 81751.92188914328|
|    cadillac| 39653.72611464968| 74715.09554140127|
|     ferrari|280949.62372881355|  23999.6593220339|
|   chevrolet|40798.780104712045|52468.680628272254|
|        fiat|15901.463157894737|50686.232479650585|
|      daewoo|1933.0983606557377|  138715.868852459|
|       dacia|15117.340760546644| 48060.16886227545|
|      jaguar| 45392.55865522174| 47135.51502145923|
|        jeep| 36238.93253287593| 40852.36374067699|
|     hyundai|  20585.3349076857| 55640.04195303551|
|         kia| 22608.36847617385|   50011.663003663|
+------------+------------------+------------------+
only showing top 20 rows

In [50]:
# Number of cars brand listed for sales
df.groupby('brand').count().show()

+------------+-----+
|       brand|count|
+------------+-----+
|        audi|21161|
|         bmw|19810|
|     bentley|  541|
|  alfa-romeo| 1437|
|aston-martin|  277|
|    daihatsu|  204|
|    chrysler|   32|
|     citroen| 4083|
|       dodge|  669|
|        ford|18790|
|    cadillac|  157|
|     ferrari|  590|
|   chevrolet|  191|
|        fiat| 5039|
|      daewoo|   61|
|       dacia| 3367|
|      jaguar| 1398|
|        jeep| 1749|
|     hyundai| 6989|
|         kia| 5734|
+------------+-----+
only showing top 20 rows

In [51]:
# Group by on multiple condition and orderby by brand name
group_brand = df.groupby('brand','transmission_type').mean().orderBy('brand')
group_brand.show()

+------------+-----------------+------------------+------------------+
|       brand|transmission_type|avg(price_in_euro)|avg(mileage_in_km)|
+------------+-----------------+------------------+------------------+
|  alfa-romeo|          Unknown| 34712.71428571428| 71527.71428571429|
|  alfa-romeo|        Automatic|43736.973154362415| 33708.28443449048|
|  alfa-romeo|           Manual| 9631.606870229007|136216.21564885497|
|  alfa-romeo|   Semi-automatic|           58839.8|           82182.0|
|aston-martin|        Automatic| 182175.6530612245|29068.138775510204|
|aston-martin|           Manual| 89365.37931034483| 45756.48275862069|
|aston-martin|          Unknown|          258700.0|           28012.5|
|aston-martin|   Semi-automatic|           63500.0|           55000.0|
|        audi|          Unknown|       21818.03125|      142481.46875|
|        audi|   Semi-automatic|21349.166666666668|         179452.75|
|        audi|        Automatic| 34292.55378540305|  97875.9786249149|
|        audi|           Manual|15161.630400751408| 132408.9586919105|
|     bentley|        Automatic|188852.02407407408| 41660.30925925926|
|     bentley|   Semi-automatic|          218900.0|           12500.0|
|         bmw|          Unknown|          25931.87|         143273.55|
|         bmw|   Semi-automatic|21227.708333333332|          162624.5|
|         bmw|        Automatic|  30462.2254624105|112145.30858122717|
|         bmw|           Manual| 13183.97605746209|155987.45038289725|
|    cadillac|           Manual|           12617.5|          143435.0|
|    cadillac|          Unknown|           72500.0|            4500.0|
+------------+-----------------+------------------+------------------+
only showing top 20 rows

### Ordering DataFrame as Ascending or Descending order

In [52]:
# Arranging dataframe on ascending order of brand name
group_brand.orderBy(group_brand['brand']).show()

+------------+-----------------+------------------+------------------+
|       brand|transmission_type|avg(price_in_euro)|avg(mileage_in_km)|
+------------+-----------------+------------------+------------------+
|  alfa-romeo|          Unknown| 34712.71428571428| 71527.71428571429|
|  alfa-romeo|        Automatic|43736.973154362415| 33708.28443449048|
|  alfa-romeo|           Manual| 9631.606870229007|136216.21564885497|
|  alfa-romeo|   Semi-automatic|           58839.8|           82182.0|
|aston-martin|        Automatic| 182175.6530612245|29068.138775510204|
|aston-martin|           Manual| 89365.37931034483| 45756.48275862069|
|aston-martin|          Unknown|          258700.0|           28012.5|
|aston-martin|   Semi-automatic|           63500.0|           55000.0|
|        audi|          Unknown|       21818.03125|      142481.46875|
|        audi|   Semi-automatic|21349.166666666668|         179452.75|
|        audi|        Automatic| 34292.55378540305|  97875.9786249149|
|        audi|           Manual|15161.630400751408| 132408.9586919105|
|     bentley|        Automatic|188852.02407407408| 41660.30925925926|
|     bentley|   Semi-automatic|          218900.0|           12500.0|
|         bmw|          Unknown|          25931.87|         143273.55|
|         bmw|   Semi-automatic|21227.708333333332|          162624.5|
|         bmw|        Automatic|  30462.2254624105|112145.30858122717|
|         bmw|           Manual| 13183.97605746209|155987.45038289725|
|    cadillac|           Manual|           12617.5|          143435.0|
|    cadillac|          Unknown|           72500.0|            4500.0|
+------------+-----------------+------------------+------------------+
only showing top 20 rows

In [53]:
# Arranging dataframe on descending order of brand name
group_brand.orderBy(group_brand['brand'].desc()).show()

+----------+-----------------+------------------+------------------+
|     brand|transmission_type|avg(price_in_euro)|avg(mileage_in_km)|
+----------+-----------------+------------------+------------------+
|     volvo|        Automatic| 37930.32765255635| 71751.76971695521|
|     volvo|          Unknown|           31442.0|106488.63888888889|
|     volvo|           Manual|18405.928278688523|127628.38729508196|
|     volvo|   Semi-automatic|           10000.0|          190000.0|
|volkswagen|   Semi-automatic|           16903.2|120938.13333333333|
|volkswagen|        Automatic| 26996.37222222222| 84296.25304768088|
|volkswagen|          Unknown|15195.440298507463|151078.37313432837|
|volkswagen|           Manual| 13011.97517398982| 130676.1141803832|
|    toyota|        Automatic|  29579.3212275286|29684.651057674924|
|    toyota|          Unknown|           23143.0| 92514.91666666667|
|    toyota|   Semi-automatic|            6149.5|           51000.0|
|    toyota|           Manual|15596.173896783845| 71654.25934230194|
| ssangyong|           Manual|17402.731092436974| 55719.84033613445|
| ssangyong|          Unknown|           10949.5|          184470.0|
| ssangyong|        Automatic|29627.972602739726|39525.552511415524|
| ssangyong|   Semi-automatic|            6545.0|          197004.5|
|     smart|           Manual|10086.487632508833| 71933.41696113074|
|     smart|        Automatic|13390.388714733543| 52109.91379310345|
|     smart|   Semi-automatic| 5289.311688311688|109278.16883116883|
|     smart|          Unknown|15362.857142857143|41577.142857142855|
+----------+-----------------+------------------+------------------+
only showing top 20 rows

### Using Aggrigate function to entire dataframe

In [54]:
df.show()

+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|     brand|            model| color|registration_date|registration_year|price_in_euro|power_kw|power_ps|transmission_type|fuel_type|fuel_consumption_l_100km|fuel_consumption_g_km|mileage_in_km|   offer_description|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1995|             1995|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     160500.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo 164| black|          02/1995|             1995|        24900|     191|     260|           Manual|   Petrol|                    null|             - (g/km)|     190000.0| Q4 Allrad, 3.2L GTA|
|alfa-romeo|Alfa Romeo Spider| black|          02/1995|             1995|         5900|     110|     150|          Unknown|   Petrol|                    null|             - (g/km)|     129000.0|       ALFA ROME 916|
|alfa-romeo|Alfa Romeo Spider| black|          07/1995|             1995|         4900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|     189500.0|2.0 16V Twin Spark L|
|alfa-romeo|   Alfa Romeo 164|   red|          11/1996|             1996|        17950|     132|     179|           Manual|   Petrol|            7,2 l/100 km|             - (g/km)|      96127.0|3.0i Super V6, ab...|
|alfa-romeo|Alfa Romeo Spider|   red|          04/1996|             1996|         7900|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      47307.0|  2.0 16V Twin Spark|
|alfa-romeo|   Alfa Romeo 145|   red|          12/1996|             1996|         3500|     110|     150|           Manual|   Petrol|            8,8 l/100 km|             210 g/km|     230000.0|        Quadrifoglio|
|alfa-romeo|   Alfa Romeo 164| black|          07/1996|             1996|         5500|     132|     179|           Manual|   Petrol|           13,4 l/100 km|             320 g/km|     168000.0|      (3.0) V6 Super|
|alfa-romeo|Alfa Romeo Spider| black|          07/1996|             1996|         8990|     141|     192|           Manual|   Petrol|             11 l/100 km|             265 g/km|     168600.0||HU:neu|Klimaanla...|
|alfa-romeo|Alfa Romeo Spider| black|          01/1996|             1996|         6976|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             220 g/km|      99000.0|2.0 T.Spark L *Kl...|
|alfa-romeo|Alfa Romeo Spider|silver|          02/1996|             1996|         5499|     141|     192|           Manual|   Petrol|           11,1 l/100 km|             265 g/km|     157000.0|            3.0 V6 L|
|alfa-romeo|Alfa Romeo Spider|silver|          10/1996|             1996|         8499|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             225 g/km|      15550.0|          2.0 spider|
|alfa-romeo|   Alfa Romeo GTV|silver|          04/1996|             1996|         2290|     110|     150|           Manual|   Petrol|            9,5 l/100 km|             - (g/km)|     333500.0|GTV 2.0 Twin Spar...|
|alfa-romeo|   Alfa Romeo GTV|  grey|          05/1997|             1997|        15800|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             125 g/km|     177000.0|          3.0 V6 24v|
|alfa-romeo|   Alfa Romeo 155|  grey|          06/1997|             1997|         7950|      88|     120|           Manual|   Petrol|            8,4 l/100 km|             - (g/km)|     101726.0|1.6l Twin Spark, ...|
|alfa-romeo|   Alfa Romeo GTV|   red|          10/1997|             1997|         1300|     148|     201|           Manual|   Petrol|           10,9 l/100 km|             260 g/km|     178000.0|           2.0 V6 TB|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         6900|     110|     150|           Manual|   Petrol|            9,2 l/100 km|             225 g/km|     110313.0|   2.0 16V T.Spark L|
|alfa-romeo|   Alfa Romeo GTV|   red|          01/1997|             1997|        16900|     162|     220|           Manual|   Petrol|           11,7 l/100 km|             - (g/km)|     174000.0|      GTV 3.0 V6 24V|
|alfa-romeo|   Alfa Romeo GTV|   red|          03/1997|             1997|         9980|     148|     201|           Manual|   Petrol|                    null|             - (g/km)|     168791.0|2.0 V6 TB - Leder...|
|alfa-romeo|   Alfa Romeo 145|   red|          03/1997|             1997|        11990|      88|     120|           Manual|   Petrol|            8,2 l/100 km|             - (g/km)|     124963.0|Scuola Sportiva/W...|
+----------+-----------------+------+-----------------+-----------------+-------------+--------+--------+-----------------+---------+------------------------+---------------------+-------------+--------------------+
only showing top 20 rows

In [55]:
# We want to find mean price_in_euro for our entire dataset
df.agg({'price_in_euro':'mean'}).show()

+------------------+
|avg(price_in_euro)|
+------------------+
| 26137.53000239158|
+------------------+

In [56]:
# We want to find max price_in_euro and min price_in_euro for our entire dataset
df.agg({'price_in_euro':'max'}).show()
df.agg({'price_in_euro':'min'}).show()

+------------------+
|max(price_in_euro)|
+------------------+
|           5890500|
+------------------+

+------------------+
|min(price_in_euro)|
+------------------+
|               120|
+------------------+